<!DOCTYPE html>
<html>
<head>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div>
<h1 ><i>My</i><sub><i>Resume</i></sub><img src="logo.jpg" width="50" height="50">
<a href="signup"><input type=button value=Signup style="float:right"  style="width:20;" ></a><br>
<a href="login"><input type=button style="float:right" value="Login" style="width:20;"></a> 
 &nbsp;
 </h1>
 
</div>
<hr>
<img src="bg.jpg"  width="1130" height="500">
</body>
</html>
